.body-color {
  background-color: #1a1a1d;
}

.headlines {
  background-color: #1a1a1d;
  color: #c3073f;
  padding-bottom: 5vh;
  padding-top: 10vh;
  margin-bottom: 0vh;
}

.card-body {
  background-color: #0b0c10;
  border-bottom-right-radius: 20%;
  color: #fff;
}

.card {
  margin: 0;
  padding: 0%;
  border: 0;
  background-color: #1a1a1d;
}

.card-img-top {
  border-top-left-radius: 20%;
  height: 35vh;
}

.col-md-4 {
  padding-bottom: 5vh;
}
.btn {
  font-weight: 700;
}

.bkg {
  background-color: #0b0c10;
}
