.text-size{
    font-size: 5vh;
    color: #C3073F;
}
.navbar{
    margin-top: 1vh;
}
.navbar-color{
    background-color: #1A1A1D;
}

.no-padding{
    padding: 0px;
}

.bar-color{
    font-size: 3.2vh;
    color: #FFF;
}

.language{
    width: fit-content;
    color: #FFF;
}
.form-select{
    color: #FFF;
    background-color: #1A1A1D;
}

